<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
             background-color: #f2f6fb;
             font-family: sans-serif;
        }
        #main{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(30, 29, 29);
        }
        .content{
            background-color: white;
            padding: 10px;
            margin-top: 10px;
            border-radius: 15px;
            padding-bottom: 30px;

        }
        h1{
            text-align: center;
        }
        p{
            font-weight: 400;
            font-size: 14px;
        }
        #btn{
            background-color: #f35b04;
            color: white;
            padding: 12px 8px;
            margin: 20px 0px;
            border: 1px solid white;
            border-radius: 15px;
             text-decoration: none;
        }
        @media screen and (max-width:600px) {
            #main{
                align-items: start;
            }
        }
    </style>
</head>
<body>
    <div id="main">
        <div>
            <div style="display: flex; justify-content: center;">
                <img src="https://res.cloudinary.com/dh0ekblp9/image/upload/v1728729846/coverphotos/bvwejy9wis2e3zdvkmqr.png" alt="logo">
            </div>
           
            <div class="content">
                <h1 >Password Reset</h1>
                <h2>hello <%= name %></h2>
                <p>seems like you forgot your password for Real E State.if this is true.click below to reset your password</p>
                <a id="btn" href="<%= url %>">Reset My Password</a>
                <br>
                <p>if you did not forgot your password you can safely ignore this email.</p>
            </div>
        </div>
    </div>
   
</body>